
%light-main {
	font-weight: $light-font-weight;
    font-size: $main-font-size;
}

%font-small {
	font-weight: $font-weight;
  	font-size: $small-font-size;
}

%background-color {
	background: $background-color;
}