
* {
 box-sizing: border-box;
}

/* ================================= 
  Base Element Styles
==================================== */

body {
  font-family: $main-font;
  text-align: center;
}

h1 {
  color: $heading-color;
  margin: 0;
}
  
a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%
}

p {
  color: $paragraph-color;
  line-height: 1.5;
}



